table {
    width: 100%;
}

table tr td {
    padding: 10px;
}

.table tr td {
    padding: 10px;
    border: 1px solid #eee;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.row {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.navbar-custom {
    border-radius: 0px;
    background-color: #BA5c3C;
    color: white;
}

.navbar-brand { 
    color: white;
}

.navbar-custom ul li a {
    color: white;
}

.navbar-custom ul li a:hover {
    background-color: #ad7764;
    color: white;
}